<div class="container">
  <div class="product-list">
    <p>Debugging Output:</p>
    <p><%= "Session Cart: #{session[:cart].inspect}" %></p>
    <p><%= "Cart Products: #{@cart_products.inspect}" %></p>
    <%= link_to 'Home', products_path %>
    <h2>Your Shopping Cart</h2>

    <% if @cart_products.present? %>
      <ul>
        <% @cart_products.each do |product| %>
          <div class="product">
            <div class="product-image">
              <% if product.image.attached? %>
                <%= image_tag url_for(product.image), height: '100' %>
              <% else %>
                <p>No Image</p>
              <% end %>
            </div>
            <li>
              <%= product.name %> -
              <%= number_to_currency(product.price.to_f * session_cart_quantity(product.id)) %>
              <%= form_tag update_cart_product_path(product), method: :patch do %>
                <%= number_field_tag "quantity", session_cart_quantity(product.id), min: 1 %>
                <%= submit_tag 'Update Quantity' %>
              <% end %>
              <%= button_to 'Remove from Cart', remove_from_cart_product_path(product), method: :delete %>
            </li>
          </div>
        <% end %>
      </ul>
    <% else %>
      <p>Your cart is empty.</p>
    <% end %>
  </div>
</div>

