<div class="container">
  <div class="product-list">
  <%= link_to 'View Cart', cart_products_path %>
  <%= link_to 'Home', products_path %>
    <%= form_tag checkout_products_path, method: :post do %>
      <!-- Display cart items and total amount -->
      <h2>Checkout</h2>
      <% if @cart_products.present? %>
        <p>Total Cost: <%= number_to_currency(@total_amount) %></p>
        <p>PST: <%= number_to_currency(@pst) %></p>
        <p>GST: <%= number_to_currency(@gst) %></p>
        <p>HST: <%= number_to_currency(@hst) %></p>

        <!-- Grand Total -->
        <p>Grand Total: <%= number_to_currency(@total_with_taxes) %></p>
      <% end %>

      <!-- Customer details form -->
      <%= label_tag 'customer[address]', 'Address' %>
      <%= text_field_tag 'customer[address]' %>

      <%= submit_tag 'Checkout' %>
    <% end %>
  </div>
</div>