<div class="container">
  <%= form_tag(products_path, method: :get) do %>
    <div>
      <%= label_tag 'category', 'Select Category:' %>
      <%= select_tag 'category', options_for_select([['All Categories', ''], *Category.all.map { |c| [c.name, c.id] }], params[:category]) %>

      <%= label_tag 'search', 'Search:' %>
      <%= text_field_tag 'search', params[:search] %>

      <%= label_tag 'filter', 'Filter:' %>
      <%= select_tag 'filter', options_for_select([['All', 'all'], ['New', 'new'], ['Recently Updated', 'recently_updated']], params[:filter]) %>

      <%= submit_tag 'Search' %>
    </div>
  <% end %>

  <div class="product-list">
    <%= link_to 'View Cart', cart_products_path %>
    <h1><%= @selected_filter.present? ? @selected_filter.capitalize : 'All'  %> Products</h1>
    <div class="products">
    <%if @filtered_products%>
      <% @filtered_products.each do |product| %>
        <div class="product">
          <%= link_to product_path(product) do %>
            <div class="product-image">
              <% if product.image.attached? %>
                <%= image_tag url_for(product.image), height: '100' %>
              <% else %>
                <p>No Image</p>
              <% end %>
            </div>
            <div class="product-info">
              <h2><%= product.name %></h2>
              <p class="price"><%= number_to_currency(product.price) %></p>
            </div>
          <% end %>
          <% if in_cart?(product) %>
            <p>This product is already in the cart</p>
            <%= button_to 'Remove from Cart', remove_from_cart_product_path(product), method: :delete %>
          <% else %>
            <%= button_to 'Add to Cart', add_to_cart_product_path(product), method: :post %>
          <% end %>
        </div>
      <% end %>
    <%else%>
      <p>There are no products that match your specified criteria</p>
    <%end%>
    </div>

    <%= paginate @filtered_products %>
  </div>
</div>